*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col2{
	flex-basis: 50%;
	min-width: 300px;
}
.col2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.button{
	display: inline-block;
	background: #03989e;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.button:hover{
	background: #000;

}
.header{
	background: radial-gradient(#fff, #B3F6F8);
}
.header .row{
	margin-top: 50px;

}
.categories{
	margin: 70px 0;
}
.col3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px; 
}
.col3 img{
	width: 100%;
}
.small-cont{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col4 img {
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: "";
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}
.col4 p{
	font-size: 14px;
}
.rating .fa{
	color: #03989e;
}
.col4:hover{
	transform: translateY(-5px);
}
.offer{
	background: radial-gradient(#fff, #B3F6F8);
	margin-top: 80px;
	padding: 10px 0;
}
.col2 .appleimg{
	padding: 80px;
}
small{
	color: #555;
}


.testimonial{
	padding-top: 100px;
}
.testimonial .col3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;

}
.testimonial .col3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	font-size: 34px;
	color: #03989e;
}
.col3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #555;
}
.testimonial .col3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

.brands{
	margin: 100px auto;
}
.col5{
	width: 160px;
}
.col5 img{
	width: 100%;
	cursor: pointer;
	padding: 20px;
}
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer1, .footer2, .footer3, .footer4{
	min-width: 250px;
	margin-bottom: 20px;

}
.footer1{
	flex-basis: 30%;
}
.footer2{
	flex: 1;
	text-align: center;
}
.footer3, .footer4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

html, body{
	margin: 0;
	padding: 0;
}
.applogo{
	margin-top: 20px;
}
.applogo img{
	width: 140px;
}
.row-allproducts{
	justify-content: space-between;
	margin: 50px auto 50px;
}
select{
	border: 1px solid #555;
	padding: 5px;
}
select: focus{
	outline: none;
}

.productdetail{
	margin-top: 10px;
}


#productdetail .col2 img{
	padding: 0;
}

#productdetail .col2{
	padding: 20px;
}

#productdetail h4{
	margin: 20px 0;
	font-size: 20px;
	font-weight: bold;
}

#productdetail select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}

#productdetail input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}
.smallimg-row{
	display: flex;
	justify-content: space-between;
}

.smallimg-col{
	flex-basis: 24%;
	cursor: pointer;
}

#cart-page{
	margin: 80px auto;
}

table{
	width: 100%;
	border-collapse: collapse;
}

.cart-info{
	display: flex;
	flex-wrap: wrap;
}

th{
	text-align: left;
	padding: 8px;
	color: #fff;
	background: #03989e;
	font-weight: normal;
}

td{
	padding: 10px 5px;
}

td input{
	width: 40px;
	height: 35px;
	padding: 5px;
}

td a {
	color: #03989e;
	font-size: 12px;
}

td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.totalprice{
	display: flex;
	justify-content: flex-end;
}

.totalprice table{
	border-top: 3px solid gray;
	width: 100%;
	max-width: 400px;
}

td:last-child{
	text-align: right;
}

th:last-child{
	text-align: right;
}

.account-page{
	padding: 50px 0;
	background: radial-gradient(#fff, #B3F6F8);
}

.signup{
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	overflow: hidden;
}

.signup span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;

}

.signupbtn{
	display: inline-block;

}

.signup form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}


form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid gray;
}

form .button{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

#loginform{
	left: -300px;

}
#regform{
	left: 0px;
}

form a{
	font-size: 12px;
}

#indicator{
	width: 100px;
	border: none;
	background: #03989e;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}

#error{
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 12px;
	transition: all 0.5s ease;

}


.contact-us{
	padding: 50px 0;
	background: radial-gradient(#fff, #B3F6F8);}

.contact-box{
	background: #fff;
	display: flex;
}

.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}

.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: #03989e;
	color: #fff;
}

h1{
	margin-bottom: 10px;
}

.contact-us p{
	margin-bottom: 40px;
}

.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	flex-basis: 45%;

}

input{
	width: 100%;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
	padding-bottom: 5px;
}


textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}

.contactus-button{
	background: #03989e;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 30px;
	border-radius: 30px;
	margin-top: 20px;
}

.contact-left h3{
	color:#03989e ;

	font-weight: 600;
	margin-bottom: 30px;

}

.contact-right h3{


	font-weight: 600;
	margin-bottom: 30px;

}

.contact-left #error_message{
	margin-bottom: 20px;
	padding: 0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}

.col4 img: hover{
	bottom: 50px;
	opacity: 1;
	text-decoration: none;
}